@font-face {
    font-family: "Prompt-Regular";
    src: url("./assets/Prompt-Regular.ttf");
}

@font-face {
    font-family: "Prompt-Bold";
    src: url("./assets/Prompt-Bold.ttf");
}

* {
    margin: 0px;
    font-family: 'Prompt-Regular' !important;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

body {
    padding: 1.2%;
}

.header {
    margin-bottom: 2%;
}

.header>h2 {
    color: #333333;
}

.input-container {
    position: relative;
    width: 207px;
    margin-bottom: 1%;
}

.input-container>label {
    position: absolute;
    top: -9px;
    left: 10px;
    background: #FFFFFF;
    padding: 0px 5px;
    color: #333333 !important;
}

.input-container>input {
    height: 25px;
    padding-top: 10px;
    border: 1.5px rgba(209, 209, 209, 1) solid;
    border-radius: 4px;
    color: #333333 !important;
    width: 200px;
}

.input-container>input[type="file"] {
    border: none;
    padding-top: 18px !important;
}

.input-container>input[type="file"]:hover,
.input-container>input[type="file"]:focus {
    border: none !important;
    outline: none;
}

.input-container>input:hover,
.input-container>input:focus {
    border: 1.5px #E98C1B solid !important;
    outline: none;
}

.Logo {
    position: absolute;
    right: 5%;
    top: 1%;
    width: 25%;
}

.navigator {
    width: min-content;
    height: min-content;
    position: absolute;
    bottom: 3%;
    right: 1%;
}

.menu-logo {
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 0%;
}

.menu {
    width: 0px;
    height: 0px;
    background: #FFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 0.5%;
    margin-bottom: 2%;
}

.menu>a {
    text-decoration: none;
    color: #333333;
}

.menu>a:hover {
    color: #E98C1B;
}

.navigator:hover .menu-logo {
    margin-left: 83%;
}

.navigator:hover .menu {
    height: 100%;
    width: max-content;
}

.navigator:hover {
    height: auto;
}

.button-container {
    width: 207px;
}

.button-container>button {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 20px;
    cursor: pointer;
}

.button-container>button:first-child {
    background: #E98C1B;
    color: rgb(240, 248, 255) !important;
}

.button-container>button:first-child:hover {
    border: 1px solid rgba(180, 112, 28, 0.8);
}

.button-container>button:last-child {
    float: right;
    color: #333333;
}

.button-container>button:last-child:hover {
    border: 1px solid rgb(217, 223, 228, 0.7);
}

.two-column-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 5%;
}

.two-column-form>.left-column {
    grid-area: 1 / 1 / 2 / 2;
}

.two-column-form>.right-column {
    grid-area: 1 / 2 / 2 / 3;
}

.loader-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.center-div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    place-items: center;
}

.message {
    background: #FFF;
    width: 300px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 1%;
    color: #333333;
}

.message>div {
    padding: 2%;
}

.message>h4 {
    padding: 2%;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.1);
}

.message-button {
    float: right;
    background: #E98C1B;
    color: rgb(240, 248, 255) !important;
    border: 1px solid #E98C1B;
    cursor: pointer;
    margin-top: 2%;
}

.message-button:hover {
    border: 1px solid rgba(180, 112, 28, 0.8);
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1000px) {
    .Logo {
        right: 5%;
        width: 15%;
    }
}

@media (min-width: 1200px) {
    .global-container {
        margin: 1%;
    }
}